* {
    padding: 0;
    margin: 0;
}

$firstColor: #3b4d95;
$secondColor: #3d4047;
$thirdColor: #2763a9;
$fourthColor: rgb(255, 83, 83);
$fifthColor: #0c4b92;

body {
    font-family: 'Roboto', sans-serif;
    color: $secondColor;
    font-size: 16px;
}

.head {
    height: 30px;
    background-color: $firstColor;
    margin: 20px 0px;
}

/* personal */

.personal {
    &__header {
        font-size: 2.5em;
        font-weight: 600;
        padding-bottom: 20px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 7px;
        border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    }

    &__title {
        cursor: pointer;
    }

    &__edit {
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding-right: 20px;
    }

    &__data {
        padding-top: 20px;
        display: flex;
        column-gap: 30px;
        align-items: center;
    }

    &__image {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgb(158, 158, 158);
        background-position: 50% 50%;
        background-size: cover;

        input[type=file] {
            display: none;
        }

        &_red {
            background-color: $fourthColor;
        }
    }

    &__upload {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        position: absolute;
        top: 0;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        cursor: pointer;
        font-size: 0.95em;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80px;
    }

    &__name,
    &__email {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }

    &__text {

        input[type=text] {
            width: 300px;
            border: none;
            border-bottom: 1px solid rgba($secondColor, 0.3);
            outline: none;
            font-size: 1em;

            &:disabled {
                background-color: inherit;
                color: $secondColor;
                border-bottom: 1px solid rgba($secondColor, 0);
            }
        }
    }

    &__subtitle {
        font-weight: 600;
        width: 50px;
    }

    &__save {
        display: flex;
        padding: 20px 10px;
    }

    &__save-button {
        background-color: $fourthColor;
        padding: 5px 10px;
        color: white;
        cursor: pointer;

        &_bg-none {
            background-color: white;
        }
    }
}

/* news */

.news {
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__head {
        
        display: flex;
        justify-content: space-between;
        padding-bottom: 7px;
        border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    }

    &__title {
        cursor: pointer;
    }

    &__create {
        cursor: pointer;
        padding-right: 20px;
    }

    &__list {
        padding: 30px 5px;
        display: flex;
        column-gap: 30px;
    }

    &__empty {
        font-weight: 600;
        font-size: 1.3em;
    }

    &__item {
        flex: 0 0 calc((100% - 60px) / 3);
    }

    &__image {
        height: 200px;
        background-color: $secondColor;
        pointer-events: none;
        background-size: cover;
        background-position: 50% 50%;
    }

    &__bottom {
        padding-top: 7px;
        display: flex;
        justify-content: space-between;
    }

    &__control {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__edit,
    &__delete {
        width: 20px;
        height: 20px;
        text-align: center;
        cursor: pointer;
    }

    &__text {
        font-weight: 600;
    }

    &__all {
        display: flex;
        align-self: flex-end;
        padding-right: 20px;
        cursor: pointer;
    }
}

/* guide */

.guide {

    &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 7px;
        border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    }

    &__title {
        cursor: pointer;
    }

    &__list {
        padding: 20px 5px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 70px;
        row-gap: 20px;
    }

    &__item {
        box-sizing: border-box;
        border-radius: 2px;
        padding: 30px;
        padding-bottom: 60px;
        flex: 0 0 calc(50% - 35px);
        box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__item-top {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        cursor: pointer;
    }

    &__subtitle {
        font-size: 1.125em;
        font-weight: 600;
    }

    &__all {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        cursor: pointer;
    }
}

/* control */

.control {

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        padding: 20px 0px;
        cursor: pointer;

        &_closed {
            padding: 0px 0px;
            padding-bottom: 7px;
            border-bottom: 1px solid rgba(156, 156, 156, 0.3);
        }
    }

    &__add {
        display: flex;
        justify-content: space-between;
        padding-bottom: 7px;
        border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    }

    &__subtitle {
        color: $thirdColor;
        font-weight: 600;
        font-size: 1.125em;
        border-bottom: 2px solid $thirdColor;
        padding-bottom: 3px;
    }

    &__add-button {
        padding-right: 20px;
        cursor: pointer;
    }

    &__search {
        padding: 10px 10px;
        display: flex;
        column-gap: 15px;

        input[type=text] {
            width: 350px;
            padding: 5px 10px;
            font-size: 1.125em;
            color: black;
            border-style: none;
            border: 1px solid lightgray;
            border-radius: 3px;

            &::placeholder {
                color: lightgray;
            }
        }
    }

    &__search-button {
        background-color: $thirdColor;
        color: white;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__table {
        font-size: 1.125em;
        padding: 0px 10px;

        table {
            width: 100%;
            border-collapse: collapse;
        }

        tr td:last-child {
            display: flex;
            justify-content: center;
            column-gap: 10px;
            
            img {
                cursor: pointer;
            }
        }

        td,
        th {
            text-align: center;
        }

        th {
            border-bottom: 1px solid black;
            padding: 10px 0px;
        }

        td {
            padding: 15px 0px;
        }
    }

    &__empty {
        padding: 30px 0px;
        font-weight: 600;
        font-size: 1.3em;
    }

    &__routing {
        display: flex;
        column-gap: 5px;
        padding: 10px 0px;
    }

    &__route {
        cursor: pointer;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: lightgrey;

        &_active {
            background-color: $thirdColor;
            color: white;
        }
    }

    &__paging {
        padding-bottom: 50px;
        color: gray;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 10px;
        font-size: 0.7em;

        select {
            color: gray;
            border-color: gray;
            padding: 2px 5px;
            padding-right: 30px;
            outline: none;
        }
    }
}

/* structure */

.structure {

    padding-bottom: 50px;

    &__title {
        cursor: pointer;
    }

    &__add {
        display: flex;
        justify-content: space-between;
        padding-bottom: 7px;
        border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    }

    &__add-button {
        cursor: pointer;
        padding-right: 20px;
    }

    &__list {
        ol {
            list-style: none;
            counter-reset: li;
        }

        li {
            padding: 30px 0px;
        }

        ol > li:last-child {
            padding: 0px 0px;
        }

        ol > li > ol {
            margin-left: 280px;
        }

        ol > li > ol > li > ol {
            margin-left: 90px;
        }

        li > select {
            
            font-size: 1.125em;
            margin-right: 20px;
            width: 200px;
            padding: 7px 14px;
            outline: none;
            border-color: gray;
            color: gray;
            border-radius: 3px;

            & > option {
                font-size: 1.125em;
                padding: 7px 14px;
            }
        }

        li:before {            
            padding-right: 20px;
            color: gray;
            counter-increment: li;
            content: counters(li, ".") ". ";
        }
    }

    &__edit,
    &__delete {
        cursor: pointer;
    }

    &__delete {
        margin-left: 10px;
        font-weight: 600;
        color: $thirdColor;
    }
    
    &__api-error {
        margin-top: 50px;
        background-color: rgb(238, 98, 98);
        color: white;
        padding: 5px 10px;

    }
}

/* blocks */

.add-news {
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 200px;
    left: calc((100% - 1100px) / 2);
    .container {
        display: flex;
        justify-content: center;
        width: 1100px !important;
    }

    &__content {
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        width: 80%;
    }

    &__name {
        font-weight: 600;
        font-size: 1.7em;
    }

    &__title,
    &__textarea,
    &__link {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 1em;
    }

    &__title,
    &__link {
        align-items: center;
    }

    &__title-text,
    &__content-text,
    &__link-text {
        padding: 7px;
        outline: none;
        width: calc(100% - 71px);
        box-sizing: border-box;
    }

    textarea {
        box-sizing: border-box;
        outline: none;
        padding: 7px;
        
        font-family: 'Roboto', sans-serif;
    }

    &__textarea-text {
        resize: none;
        width: calc(100% - 72px);
    }

    &__bottom {
        display: flex;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 65%;

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%
        }
    }   

    &__error {
        display: flex;
        align-self: flex-end;
        color: red;
    }

    &__file {
        position: relative;
        width: 250px;
        height: 50px;
        text-align: center;
        cursor: pointer;

        img {
            padding-right: 5px;
        }

        input[type=file] {
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: inherit;
            cursor: pointer;
        }
    }

    &__control {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    &__save,
    &__cancel {
        padding: 5px 10px;
        cursor: pointer;
        color: white;
    }

    &__save {
        background-color: $fourthColor;
    }

    &__cancel {
        background-color: rgb(167, 164, 164);
    }
}

.delete-form {

    position: fixed;
    top: 200px;
    left: calc((100% - 1100px) / 2);

    .container {
        display: flex;
        justify-content: center;
        width: 1100px !important;
    }

    &__content {
        
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #000;
        background-color: #fff;
        display: flex;
        row-gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 1.125em;
        font-weight: 600;
    }

    &__buttons {
        display: flex;
        column-gap: 20px;
        color: #fff;
    }

    &__delete,
    &__cancel {
        padding: 7px 15px;
        cursor: pointer;
    }

    &__delete {
        background-color: $fourthColor;
    }

    &__cancel {
        background-color: rgba($secondColor, 0.5);
    }
}

.guide-form {
    
    position: fixed;
    top: 200px;
    left: calc((100% - 1100px) / 2);

    .container {
        display: flex;
        justify-content: center;
        width: 1100px !important;
    }

    &__content {
        width: 80%;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #000;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__title {
        padding-left: 100px;
    }

    &__search {
        padding: 30px 100px;
        box-sizing: border-box;
        
        input {
            box-sizing: border-box;
            width: 100%;
            outline: none;
            padding: 10px 20px; 
            border: 1px solid rgba(gray, 0.2);
            border-radius: 5px;
            font-size: 1.125em;
        }
    }

    &__table {
        overflow-y: scroll;
        height: 400px;

        th {
            text-align: start;
            font-size: 1.3em;
        }

        tr td {
            box-sizing: border-box;
            border-radius: 5px;
            background-color: rgba(lightgray, 0.2);
            border: 1px solid rgba(gray, 0.2);
            padding: 10px 20px; 
            margin-bottom: 20px;
        }

        tr td:last-child {
            background-color: white;
        }

        tr th:first-child,
        tr td:first-child {
            width: 50px;
        }

        td {
            height: 100%;
        }

        table {
            width: 100%;
            border-spacing: 100px 20px;
        }

    }

    &__input {
        padding: 0px 0px !important;
        border: none !important;

        input {
            border-radius: 5px;
            box-sizing: border-box;
            padding: 10px 20px;
            width: 100%;
            border: 1px solid rgba($thirdColor, 0.5);
            outline: none;
            font-size: 1.009em;
        }
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__add {
        font-size: 0.7em !important;
        font-weight: 400;
        color: $thirdColor;
        cursor: pointer;
    }

    &__save {
        color: white;
        background-color: $fourthColor;
        align-self: flex-end;
        padding: 10px 20px;
        margin-right: 100px;
        cursor: pointer;
    }

    &__empty {
        padding-left: 100px;
        font-weight: 600;
        font-size: 1.3em;
    }
}

.control-form {

    position: fixed;
    top: 200px;
    left: calc((100% - 1100px) / 2);
    .container {
        display: flex;
        justify-content: center;
        width: 1100px !important;
        
    }

    &__content {
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #000;
        background-color: #fff;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    &__title {
        padding-bottom: 20px;
    }

    &__form {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 30px;
    }

    &__input {
        flex: 0 0 calc(50% - 20px);
        display: flex;
        position: relative;
        
        &:after {
            position: absolute;
            right: -13px;
            top: -13px;
            content: "*";
            opacity: 0;
            padding-left: 10px;
        }
        
        &_necessarily:after {
            opacity: 1;
            font-size: 1.3em;
            color: $thirdColor;
        }

        input,
        select {
            color: #000;
            box-sizing: border-box;
            border-style: none;
            border-radius: 4px;
            border: 1px solid rgba(gray, 0.3);
            width: 100%;
            padding: 10px 15px;
            outline: none;

            &:disabled {
                color: rgba(gray, 0.3);
            }

            &::placeholder {
                color: rgba(gray, 0.6);
            }
        }

        select {
            color: rgba(gray, 0.6);
        }
    }

    &__buttons {
        display: flex;
        column-gap: 20px;
    }

    &__create {
        background-color: $thirdColor;
        color: white;
        padding: 7px 25px;
        cursor: pointer;
    }

    &__cancel {
        background-color: $secondColor;
        color: white;
        padding: 7px 25px;
        cursor: pointer;
    }
}

.title {
    font-weight: 600;
    font-size: 1.3em;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.blackout {
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6000px;
    background-color: rgba(#fff, 0.3);
}

